<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>310D デパレ作業画面 - 投入部品画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Your custom CSS -->
    <link href="../../static/css/depallet/flowrack.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <!-- jQuery -->
    <script src="../../static/js/jquery-3.7.0.min.js"></script>
    <!-- Your custom JS -->
    <script src="../../static/js/flowrack.js"></script>
    <!-- Bootstrap JS Bundle -->
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container my-4 flow-rack-frame">
        <div class="header mb-3">
            <h5>投入部品画面</h5>
            <p id="flow-rack-no">対象フローラックNo：</p>
        </div>
        <table id="flow-rack" class="table table-bordered">
            <!-- Dynamic content will be inserted here -->
        </table>
        <label>投入完了後完了ボタンを押してください</label><br />
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-outline-success" onclick="Complete()">作業完了</button>
        </div>
    </div>
</body>
</html>