<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/depallet/flowrack.css" rel="stylesheet">
    <script src="../../static/js/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/flowrack.js"></script>
    <title>310D デパレ作業画面</title>
</head>
<body>
 
    <div class="flow-rack-frame">
        <div class="header">
            <p>投入部品画面</p>
            <p id="flow-rack-no">対象フローラックNo：</p>
        </div>

        <table id="flow-rack">
        </table>

        <label>投入完了後完了ボタンを押してください</label>
        <button class="complete-button"  onclick="Complete()">作業完了</button>
    </div>
</body>