<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>310D デパレ作業画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Your local CSS -->
    <link href="../../static/css/depallet/depallet.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      
      <div class="container operation">
        <h2 class="bg-dark text-center text-white border border-dark fw-bold my-2">
          310D デパレ作業画面 〈安全 . 品質 . 生産〉
          <button id="refreshButton" class="btn btn-light text-right my-2">更新</button>
        </h2>
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" class="btn btn-danger text-white w-100" onclick="submitKanbanNuki()">かんばん抜き<br>①発信</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success text-white w-100" onclick="submitKanbanSashi()">かんばん差し<br>②発信</button>
          </div>
        </div>
        <div class="row">
          <!-- Left Side: Line B -->
          <div class="col-12 col-lg-6 border-end">
            <h2 class="bg-light text-center text-danger border border-dark fw-bold my-2">
              * Bライン
            </h2>
            <!-- BR Table -->
            <div class="line-status mb-3">
                <table class="table table-bordered production-table text-center align-middle border-dark">
                    <thead class="table-secondary border-dark">
                        <tr>
                            <th colspan="6" class="bg-primary">B-RH (378ライン)</th>
                        </tr>
                        <tr>
                            <th>生産品番</th>
                            <th>計画生産台数</th>
                            <th>実績生産台数</th>
                        </tr>
                    </thead>
                    <tbody id="b-r-product">
                        <!-- Dynamic content -->
                    </tbody>
                </table>
            </div>
            <!-- BR Table button -->
            <div class="frontage-status row g-3">
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToBLineDepalletMaguchi(1)">供給間口<br>R1</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="1"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToBLineDepalletMaguchi(2)">供給間口<br>R2</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="2"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToBLineDepalletMaguchi(3)">供給間口<br>R3</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="3"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
            </div>

            <!-- BL Table -->
            <div class="line-status mb-3">
              <table class="table table-bordered production-table text-center align-middle border-dark">
                  <thead class="table-secondary border-dark">
                      <tr>
                          <th colspan="6" class="bg-warning" style="background-color: #fb8b4a !important;">B-LH (379ライン)</th>
                      </tr>
                      <tr>
                          <th>生産品番</th>
                          <th>計画生産台数</th>
                          <th>実績生産台数</th>
                      </tr>
                  </thead>
                  <tbody id="b-l-product">
                      <!-- Dynamic content -->
                  </tbody>
              </table>
            </div>
            <!-- BL Table button -->
            <div class="frontage-status row g-3">
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToBLineDepalletMaguchi(4)">供給間口<br>L1</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="1"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToBLineDepalletMaguchi(5)">供給間口<br>L2</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="2"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToBLineDepalletMaguchi(6)">供給間口<br>L3</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="3"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
            </div>

          </div>
          
          <!-- Right Side: Line A -->
          <div class="col-12 col-lg-6 border-end">
            <h2 class="bg-light text-center text-danger border border-dark fw-bold my-2">
              * Aライン
            </h2>

            <!-- AR Table -->
            <div class="line-status mb-3">
              <table class="table table-bordered production-table text-center align-middle border-dark">
                  <thead class="table-secondary border-dark">
                      <tr>
                          <th colspan="6" class="bg-primary">A-RH (376ライン)</th>
                      </tr>
                      <tr>
                          <th>生産品番</th>
                          <th>計画生産台数</th>
                          <th>実績生産台数</th>
                      </tr>
                  </thead>
                  <tbody id="a-r-product">
                      <!-- Dynamic content -->
                  </tbody>
              </table>
            </div>

            <!-- AR Table button -->
            <div class="frontage-status row g-3">
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToALineDepalletMaguchi(7)">供給間口<br>R1</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="1"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToALineDepalletMaguchi(8)">供給間口<br>R2</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="2"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-primary w-100" onclick="callToALineDepalletMaguchi(9)">供給間口<br>R3</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="3"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
            </div>
          
            <!-- AL Table -->
            <div class="line-status mb-3">
              <table class="table table-bordered production-table text-center align-middle border-dark">
                  <thead class="table-secondary border-dark">
                      <tr>
                          <th colspan="6" class="bg-warning" style="background-color: #fb8b4a !important;">A-LH (377ライン)</th>
                      </tr>
                      <tr>
                          <th>生産品番</th>
                          <th>計画生産台数</th>
                          <th>実績生産台数</th>
                      </tr>
                  </thead>
                  <tbody id="a-l-product">
                      <!-- Dynamic content -->
                  </tbody>
              </table>
            </div>
            <!-- BL Table button -->
            <div class="frontage-status row g-3">
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToALineDepalletMaguchi(10)">供給間口<br>L1</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="1"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToALineDepalletMaguchi(11)">供給間口<br>L2</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="2"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                  <table class="table table-bordered frontage-table text-center align-middle border-dark">
                    <thead class="table-light border-dark">
                      <tr>
                        <th colspan="2" class="">
                          <button type="button" class="btn btn-warning w-100" style="background-color: #fb8b4a !important;" onclick="callToALineDepalletMaguchi(12)">供給間口<br>L3</button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>背番号</th>
                        <th>在庫数</th>
                      </tr> -->
                    </thead>
                    <!-- <tbody id="3"> -->
                      <!-- Dynamic content -->
                    <!-- </tbody> -->
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
    <!-- jQuery -->
    <script src="../../static/js/jquery-3.7.0.min.js"></script>
    <!-- Your custom JS -->
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/common.js"></script> <!-- TODO: added common message -->
    <!-- Bootstrap JS Bundle (Popper + Bootstrap) -->
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>