.depallet {
    display: flex;
    flex-direction: column;
    height: 98vh;
}
.header-frame {
    height: 10%;
}

.main-frame {
    height: 90%;
}

@media screen and (min-width: 768px) {
    .main-frame {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: stretch
    }

    .left-frame {
        display: flex;
        width: 60%;
    }

    .right-frame {
        display: flex;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    .main-frame {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: stretch
    }

    .left-frame {
        display: flex;
        width: 100%;
        height: 50%;
    }

    .right-frame {
        display: flex;
        width: 100%;
        height: 50%;
        overflow: auto;
    }
}

