.depallet-header {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    background-color: #0d6efd;
}

.title {
    text-align: center;
    width: 90%;
    font-size: x-large;
    color: white;
    background-color: #0d6efd;
}

.return {
    width: 10%;
    height: 100%;
    border: 2px solid #000000;
    align-content: center;
}

    .return button {
        width: 100%; /* ボタンをセル全体の幅に広げる */
        height: 100%; /* ボタンをセル全体の高さに広げる */
        border: none;
        background: none;
        background-color: lightgray;
        cursor: pointer;
        font-size: inherit;
        padding:1em 1em 1em 1em;
  

    }
